// #5F3E2D//
.color-coffee-5F3E2D{
  color:#5F3E2D;
}
// #5F3E2D//
.color-coffee-B75929{
  color:#B75929;
}


/* while  black*/
.color-while {
	color: #fff;
}

.color-black {
	color: #000;
}


// bkc bgc// 
.bkc-block{
  background-color: #000000;
}
.bkc-gary-F2F2F2{
  background-color: #F2F2F2;  
}