<footer class="footer">
  <div class="container">
    <ul class="d-flex justify-content-between flex-wrap">
      <ul class="">
        <ul class="d-lg-flex d-md-flex d-sm-none flex-wrap justify-content-around footer-1-list-font">
          <li><a href="#" class="noto-sans fs-16 color-while">首頁</a></li>
          <li><a href="#" class="noto-sans fs-16 color-while ">系列鏡框</a></li>
          <li><a href="#" class="noto-sans fs-16 color-while ">門市據點</a></li>
          <li><a href="#" class="noto-sans fs-16 color-while ">部落格</a></li>
          <li><a href="#" class="noto-sans fs-16 color-while ">常見問題</a></li>
        </ul>
        <ul class="footer-contactALL">
          <li class="footer-contact d-flex justify-content-start align-items-center"><img class="footer-icon-tel m-right-22"
              src="/assets/images/img_index/phone.png" alt=""><a href="#"
              class="noto-sans  color-while text-center align-items-center">0800-000-000</a></li>
          <li class="footer-contact d-flex justify-content-start align-items-center"><img class="footer-icon-list2 m-right-22"
              src="/assets/images/img_index/mail.png" alt=""><a href="#"
              class="noto-sans  color-while text-center align-items-center">glasses@business.com</a></li>
        </ul>
      </ul>
      <ul class="d-flex footer-1-list-icon">
        <li class="footer-icon"><img src="/assets/images/img_index/ic-social-fb.png" alt=""></li>
        <li class="footer-icon"><img src="/assets/images/img_index/ic_social_ig.png" alt=""></li>
        <li class="footer-icon"><img src="/assets/images/img_index/ic_social_line.png" alt=""></li>
      </ul>
    </ul>
    <hr class="footer-hr">
    </hr>
    <ul class="d-lg-flex d-md-flex justify-content-md-between copyright">
      <li><a href="#" class="noto-sans fs-16 color-while">Copyright © 2020 Glasses.All rights reserved.</a></li>
      <li class="copyright-div "><a href="#" class="noto-sans fs-16 color-while">隱私權政策</a>
        <a href="#" class="noto-sans fs-16 color-while ">服務條款</a>
      </li>
    </ul>
  </div>
</footer>