<nav class="nav">
  <div class="container  d-md-flex justify-content-md-between align-items-center ">
    <img class="nav-logo" src="/assets/images/img_index/nav_logo-new_工作區域 1 (2).png" alt="logo">
    <ul class=" d-flex  nav-listALL ">
      <ul class="d-flex nav-list1">
        <li class="nav-item"><a href="/web-layout-training-vite/pages/shop.html" class="noto-sans fs-20 color-while ">系列鏡框</a></li>
        <li class="nav-item"><a href="#" class="noto-sans fs-20 color-while ">門市據點</a></li>
      </ul>
      <ul class="d-flex nav-list2">
        <li class="nav-item"><a href="#" class="noto-sans fs-20 color-while  ">部落格 </a></li>
        <li class="nav-item"><a href="#" class="noto-sans fs-20 color-while ">常見問題</a></li>
      </ul>
    </ul>
  </div>
</nav>