@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 100vh;
  font-family: "SF Pro Test", "Microsoft JhengHei";
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

.color-coffee-5F3E2D {
  color: #5F3E2D;
}

.color-coffee-B75929 {
  color: #B75929;
}

/* footer */
.footer {
  background-color: #AA0601;
  padding-bottom: 32px;
  padding-top: 60.2px;
}

.footer-1-list {
  padding-top: 60.2px;
  padding-bottom: 32px;
  align-items: center;
}

.footer-1-list-font {
  margin-bottom: 31.8px;
}

.footer-icon {
  width: 48px;
  height: 48px;
  margin-left: 32px;
}

.footer-icon-tel {
  text-align: center;
  width: 36px;
  height: 36px;
}

.footer-icon-mail {
  text-align: center;
  width: 40px;
  height: auto;
}

.footer-hr {
  color: #fff;
  margin-top: 32px;
  margin-bottom: 32px;
}

.footer-contact > a {
  font-size: 30px;
}

@media (max-width: 576px) {
  .footer {
    padding-top: 24px;
  }
  .footer-1-list-font {
    display: none;
  }
  .footer-icon {
    width: 24px;
    height: 24px;
    margin-left: 5px;
  }
  .footer-contact > a {
    font-size: 16px;
  }
  .copyright {
    display: flex;
    flex-direction: column;
  }
  .copyright-div {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .footer-contact > a {
    font-size: 16px;
  }
  .footer-icon {
    width: 24px;
    height: 24px;
    margin-left: 5px;
  }
}
/* nav */
.nav {
  background-color: #AA0601;
}

.nav-logo {
  height: 48.57px;
  width: auto;
}

.nav-listALL {
  margin: 25px 0;
  margin-right: 10%;
  text-align: end;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  margin-left: 20px;
}

.word-wrap {
  word-wrap: break-word;
}

@media (max-width: 576px) {
  .nav {
    padding-top: 20px;
  }
  .nav-listALL {
    flex-wrap: wrap;
    display: flex;
    margin: 0;
    justify-content: center;
    margin-top: 15.43px;
  }
  .nav-item {
    border: #fff 1px solid;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    margin: 0px;
  }
  .nav-list1 {
    word-wrap: break-word;
    flex-wrap: wrap;
    display: flex;
    margin: 0;
    justify-content: center;
  }
  .nav-list2 {
    flex-wrap: wrap;
    display: flex;
    margin: 0;
    justify-content: center;
  }
}
.banner {
  background-image: url(./img_index/home-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  padding-right: 25%;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: start;
  height: 100%;
}

.banner-title {
  font-weight: bold;
}

.banner-list {
  text-align: end;
}

.banner-bt {
  width: 104px;
  height: 41px;
  background-color: #AA0601;
  border: none;
  color: #fff;
}

@media (max-width: 792px) {
  .banner {
    background-image: url("./img_index/home-header-sm.png");
    padding-right: 12.5%;
  }
}
/* font */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: inherit;
}

.roboto-r {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-decoration: none;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-style: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fs-36 {
  font-size: 36px;
}

.fs-42 {
  font-size: 42px;
}

.fs-48 {
  font-size: 48px;
}

.fs-64 {
  font-size: 64px;
}

@media (max-width: 576px) {
  .fs-64 {
    font-size: 24px;
  }
  .fs-48 {
    font-size: 24px;
  }
  .fs-36 {
    font-size: 16px;
  }
}
/* color */
.color-red_650300 {
  color: #650300;
}

/* #AA0601 */
.color-red_AA0601 {
  color: #AA0601;
}

/* #707070 */
.color-gary_707070 {
  color: #707070;
}

.color-red_650300 {
  color: #650300;
}

/* while  black*/
.color-while {
  color: #fff;
}

.color-black {
  color: #000;
}

/* m-d */
.m-t-8 {
  margin-top: 8px;
}

.m-t-16 {
  margin-top: 16px;
}

.m-t-24 {
  margin-top: 24px;
}

.m-r-24 {
  margin-right: 24px;
}

.m-b-24 {
  margin-bottom: 24px;
}

.m-b-72 {
  margin-bottom: 72px;
}

.m-right-22 {
  margin-right: 22px;
}

.m-left-32 {
  margin-left: 32px;
}

.m-left-48 {
  margin-left: 48px;
}

.m-b-80 {
  margin-bottom: 80px;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */
.noto-sans {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
}

/* font-weight */
.font-weight-bold {
  font-weight: bold;
}

.font-weight-medium {
  font-weight: 500;
}

/* modle */
.container {
  width: 1296px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

/* RWD */
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 372px;
  }
}
/* RWD 格線 斷點 */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.col-3 {
  width: 25%;
  padding-right: -12px;
  padding-left: -12px;
}

@media (max-width: 992px) {
  .col-md-3 {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .col-sm-12 {
    width: 100%;
  }
}
/* modle */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.text-align-center {
  text-align: center;
}

/* banner */
.banner {
  background-image: url(/assets/images/img_index/home-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  padding-right: 25%;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: start;
  height: 100%;
}

.banner-title {
  font-weight: bold;
}

.banner-list {
  text-align: end;
}

.banner-bt {
  width: 104px;
  height: 41px;
  background-color: #AA0601;
  border: none;
  color: #fff;
}

@media (max-width: 792px) {
  .banner {
    background-image: url("/assets/images/img_index/home-header-sm.png");
    padding-right: 12.5%;
  }
}
/* special */
.special {
  background-color: #FBF2F2;
}

.special-tital {
  font-weight: bold;
  padding-top: 80px;
  text-align: center;
}

.special-icon {
  width: 84px;
  height: 84px;
  align-items: center;
}

.special_list {
  align-items: start;
  margin-top: 36.5px;
}

.special_item {
  width: 25%;
  margin-bottom: 80px;
}

/* 經典 classic */
.classic-title {
  margin-top: 80px;
  margin-bottom: 48px;
}

@media (max-width: 576px) {
  .special-title {
    padding-top: 80px;
    margin: auto;
  }
}
.classic-list {
  padding-bottom: 80px;
}

/*聯名 co-branding  */
.co-brand {
  background-image: url(/assets/images/img_index/index-bg.png);
  padding-top: 80px;
  padding-bottom: 80px;
}

.co-brand_font {
  background-color: #FBF2F2;
  padding-top: 8px;
  text-align: center;
}

.co-brand_item {
  margin-top: 48px;
}

/* customer-card 顧客 */
.customer {
  padding-bottom: 80px;
}

.customer-card {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 5px 5px 0px 0px;
  flex-wrap: wrap;
  max-width: 306px;
}

.customer-card > li > img {
  max-width: px;
}

.classic-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.customer-list {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 992px) {
  .customer-card {
    width: 306px;
  }
}
@media (max-width: 768px) {
  .customer-card {
    width: 306px;
  }
}
@media (max-width: 576px) {
  .customer-card {
    width: 306px;
  }
}
/* 聯絡我們 contact Us */
.contactUs {
  padding-top: 80px;
  background-color: #FBF2F2;
}

.contacUs_title {
  margin-bottom: 48px;
}

.contactUs-about {
  max-width: 636px;
}

.input-width {
  width: 100%;
  max-width: 636px;
}

.contactUs-input {
  width: 100%;
  background-color: #FBF2F2;
  font-size: 16px;
  border: 1px solid #000000;
  padding: 6px 12px;
}

.contactUs-submit-bt {
  width: 100%;
  max-width: 336px;
  height: 56px;
  background-color: #AA0601;
  color: white;
  font-weight: bold;
  margin-top: 48px;
  margin-bottom: 80px;
  border-color: #AA0601;
}

.contactUs_checkbox {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.shop_nav_team {
  justify-content: center;
  align-items: center;
}

.shop_nav_item {
  padding: 24px 150px;
  border: 1px solid #DCDCDC;
}

.shop_nav_item-1 {
  padding: 24px 150px;
  border-top: 1px solid #DCDCDC;
  border-left: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
  border-bottom: 5px solid #AA0601;
}

/*shop-banner*/
.shop-banner {
  justify-content: center;
  margin: 0;
  height: 296px;
  width: auto;
}

.shop-title {
  margin-top: 80px;
  margin-bottom: 32px;
  text-align: center;
}

.product-img {
  width: 306px;
  height: auto;
}

.product-card-main {
  justify-content: space-between;
}

.product-colerItem {
  height: 24px;
  width: 24px;
  border: 0.5px;
  border-radius: 4px;
  margin-right: 10px;
}

.product-coler1 {
  background-color: #5F3E2D;
}

.product-coler2 {
  background-color: #B75929;
}

.product-card {
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .shop-banner {
    justify-content: center;
    margin: 0;
    height: 384px;
    width: auto;
  }
}
@media (max-width: 576px) {
  .shop-banner {
    justify-content: center;
    margin: 0;
    height: 125px;
    width: auto;
  }
}/*# sourceMappingURL=all.css.map */