/* font */
a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}


a:active {
	color: inherit;
}


.roboto-r {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	text-decoration: none;
}

.fs-14 {
	font-size: 14px;
}

.fs-16 {
	font-size: 16px;
}

.fs-20 {
	font-style: 20px;
}

.fs-24 {
	font-size: 24px;
}
.fs-32 {
	font-size: 32px;
}
.fs-36 {
	font-size: 36px;
}

.fs-42 {
	font-size: 42px;
}


.fs-48 {
	font-size: 48px;
}

.fs-64 {
	font-size: 64px;
}

@media (max-width:576px) {
	.fs-64 {
		font-size: 24px;
	}
	.fs-48 {
		font-size: 24px;
	}
	.fs-36 {
		font-size: 16px;	
	}
	
}

/* color */
.color-red_650300 {
	color: #650300;
}

/* #AA0601 */
.color-red_AA0601 {
	color: #AA0601;
}

/* #707070 */
.color-gary_707070 {
	color: #707070;
}

.color-red_650300 {
	color: #650300;
}






/* m-d */
.m-t-8 {
	margin-top: 8px;
}

.m-t-16 {
	margin-top: 16px;
}

.m-t-24 {
	margin-top: 24px;
}

.m-r-24 {
	margin-right: 24px;
}

.m-b-24 {
	margin-bottom: 24px;
}

.m-b-72 {
	margin-bottom: 72px;
}

.m-right-22 {
	margin-right: 22px;
}

.m-left-32 {
	margin-left: 32px;
}

.m-left-48 {
	margin-left: 48px;
}

.m-b-80 {
	margin-bottom: 80px;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.noto-sans {
	font-family: "Noto Sans TC", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	text-decoration: none;
}

/* font-weight */
.font-weight-bold {
	font-weight: bold;
}

.font-weight-medium {
	font-weight: 500;
}

/* modle */
.container {
	width: 1296px;
	margin: 0 auto;
	padding-left: 12px;
	padding-right: 12px;
}

/* RWD */

@media(max-width:992px) {
	.container {
		max-width: 720px;
	}
}

@media (max-width:768px) {
	.container {
		max-width: 372px;
	}
}

/* RWD 格線 斷點 */
.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}

.col-3 {
	width: 25%;
	padding-right: -12px;
	padding-left: -12px;
}

@media(max-width:992px) {
	.col-md-3 {
		width: calc(50%);
	}
}

@media(max-width:576px) {
	.col-sm-12 {
		width: 100%;
	}
}

/* modle */
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
.text-align-center{
	text-align: center;
}

/* banner */


.banner {
	background-image: url(/assets/images/img_index/home-header.png);
	background-size: cover;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding-right: calc(25%);
	display: flex;
	justify-content: end;
	align-items: center;
	text-align: start;
	height: 100%;
}


.banner-title {
	font-weight: bold;
}

.banner-list {
	text-align: end;
}

.banner-bt {
	width: 104px;
	height: 41px;
	background-color: #AA0601;
	border: none;
  color: #fff;
}
@media (max-width: 792px) {
	.banner {
			background-image: url('/assets/images/img_index/home-header-sm.png');
			padding-right: calc(12.5%);
	}
}
/* special */
.special {
	background-color: #FBF2F2;
}

.special-tital {
	font-weight: bold;
	padding-top: 80px;
	text-align: center;
}

.special-icon {
	width: 84px;
	height: 84px;
	align-items: center;
}

.special_list {
	align-items: start;
	margin-top: 36.5px;
}

.special_item {
	width: calc(25%);
	margin-bottom: 80px;
}


/* 經典 classic */

.classic-title {
	margin-top: 80px;
	margin-bottom: 48px;
}

@media(max-width:576px){
	.special-title{
		padding-top:80px ;
		margin: auto;
	}
}
.classic-list {
	padding-bottom: 80px;
}

/*聯名 co-branding  */


.co-brand {
	background-image: url(/assets/images/img_index/index-bg.png);
	padding-top: 80px;
	padding-bottom: 80px;
}

.co-brand_font {
	background-color: #FBF2F2;
	padding-top: 8px;
	text-align: center;
}

.co-brand_item {
	margin-top: 48px;
}

/* customer-card 顧客 */
.customer {
	padding-bottom: 80px;
}



.customer-card {
	box-shadow: 0px 2px 6px #00000029;
	border-radius: 5px 5px 0px 0px;
	flex-wrap: wrap;
	max-width: 306px;
}



.customer-card>li>img {
	max-width: px;
}


.classic-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.customer-list {
	padding: 16px;
	display: flex;
	flex-wrap: wrap;
}

@media (max-width:992px) {
	.customer-card {
		width: 306px;
	}
}

@media (max-width:768px) {
	.customer-card {
		width: 306px;
	}

}

@media (max-width:576px) {
	.customer-card {
		width: 306px;
	}
}

/* 聯絡我們 contact Us */

.contactUs {
	padding-top: 80px;
	background-color: #FBF2F2;
}

.contacUs_title {
	margin-bottom: 48px;
}

.contactUs-about {
	max-width: 636px;
}

.input-width {
	width: 100%;
	max-width: 636px;
}


.contactUs-input {
	width: 100%;
	background-color: #FBF2F2;
	font-size: 16px;
	border: 1px solid #000000;
	padding: 6px 12px;

}

.contactUs-submit-bt {
	width: 100%;
	max-width: 336px;
	height: 56px;
	background-color: #AA0601;
	color: white;
	font-weight: bold;
	margin-top: 48px;
	margin-bottom: 80px;
	border-color: #AA0601;
}

.contactUs_checkbox {
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	margin-right: 5px;
}